@import "tailwindcss";


@theme {
  --breakpoint-sm: 42rem;
  --breakpoint-md: 50rem;
  --breakpoint-xs: 13.5rem;
  --breakpoint-xl: 32rem;
}

/* loader */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  animation: l26 2s infinite;
}
.loader::before {
  content: "Loading...";
}
@keyframes l26 {
  0%,10% {transform:perspective(200px) rotateX(0) rotateY(0) scale(1)}
  30%,36% {transform:perspective(200px) rotateX(180deg) rotateY(0) scale(1)}
  63%,69% {transform:perspective(200px) rotateX(180deg) rotateY(180deg) scale(1)}
  90%,100% {transform:perspective(200px) rotateX(180deg) rotateY(180deg) scale(-1)}
}
.fileurLoader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  -webkit-mask: conic-gradient(from 15deg,#0000,#000);
  animation: l26 1s infinite steps(12);
}
.fileurLoader,
.fileurLoader:before,
.fileurLoader:after {
  background:
    radial-gradient(closest-side at 50% 12.5%, #f03355 96%, #0000) 50% 0/20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%, #f03355 96%, #0000) 0 50%/80% 20% repeat-x;
}
.fileurLoader:before,
.fileurLoader:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}
.fileurLoader:after {
  transform: rotate(60deg);
}
@keyframes l26 {
  100% {transform:rotate(1turn)}
}


